<section
  class="mainDashboard"
  [ngClass]="isExpand ? 'showDashboard' : 'hideDashboard'"
>
  <div class="dashboardFlex flex">
    <div class="menusSidebar" [ngClass]="isExpand ? 'showMore' : 'showLess'">
      <app-layout
        [inputIsExpand]="isExpand"
        (getExpandSidebar)="expandOffItem($event)"
      ></app-layout>
    </div>
    <div class="dashboardSider">
      <mat-spinner *ngIf="loading"></mat-spinner>
      <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "square-jelly-box" [fullScreen] = "true">
        <mat-spinner></mat-spinner>
    </ngx-spinner>
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
