:root {
    // COlOR VARIABLES
    --bg-color: #f4f4f4;
    --primary-color-base: 40, 67, 137;
    --primary-base: rgb(var(--primary-color-base));
    --primary-color: #284389;
    --secondary-color: #9d9d9d;
    --secondary2-color: #cecece;
    --head-color: #253141;
    --black-color: #262626;
    --light-color: #fff;
    --light-bg-color: #f2f2f2;
    --light-hover-color: #e3e7f1;
    --light-bg-blue: #ecf2ff;
    --border-color: #d7d4d4;
    --dark-color: #232323;
    --border-secondary: #587cdb;
    --success-color: #0d8d2b;
    --danger-color: #dd2c00;
    --body-bg-color: #fafbff;
    --light-primary-color: #d4e0fe;
    --light-blue: #f1f5ff;
    --orange-color: #f7a000;
    --light-orange-color: #fdeac6;
    // FONT WEIGHT VARIABLES
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --font-weight-black: 900;
    // FONT SIZE VARIABLES
    --font-size-140: 140px;
    --font-size-70: 70px;
    --font-size-60: 60px;
    --font-size-45: 45px;
    --font-size-40: 40px;
    --font-size-36: 36px;
    --font-size-34: 34px;
    --font-size-30: 30px;
    --font-size-30: 28px;
    --font-size-25: 25px;
    --font-size-24: 24px;
    --font-size-22: 22px;
    --font-size-20: 20px;
    --font-size-19: 19px;
    --font-size-18: 18px;
    --font-size-17: 17px;
    --font-size-16: 16px;
    --font-size-15: 15px;
    --font-size-14: 14px;
    --font-size-13: 13px;
    --font-size-12: 12px;
    --font-size-11: 11px;
    --font-size-10: 10px;
    --font-size-9: 9px;
  }
  