<p>manage-assignment works!</p>
<div class="formWrapper">
    <mat-card>

        <h2 class="text-center">Create Assignment
            <div class="closeIcon" (click)="onClose()">
                <mat-icon>cancel</mat-icon>
            </div>
        </h2>
        <form class="logForm" [formGroup]="assginmentForm">
            <div class="formGroup">
                <div class="formControl">
                    <app-common-input [control]="'name'" [type]="'text'" [label]="'Name'" [class]="'formControl'"
                        [error]="getErrorValidator('name', 'Name')" [form]="assginmentForm"></app-common-input>
                </div>
            </div>
            <div class="formGroup">
                <div class="formControl">
                    <app-common-input [control]="'desc'" [type]="'text'" [label]="'Description'" [class]="'formControl'"
                        [error]="getErrorValidator('desc', 'Description')" [form]="assginmentForm"></app-common-input>
                </div>
            </div>
            <div class="formGroup">
                <div class="formControl">
                    <app-common-input [control]="'status'" [type]="'status'" [label]="'Status'" [class]="'formControl'"
                        [error]="getErrorValidator('status', 'status')" [form]="assginmentForm"></app-common-input>
                </div>
            </div>
            <!-- <div class="formGroup">
                <div class="formControl">
                    <input matInput [matDatepicker]="picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>

                </div>
            </div> -->
            <div class="formGroup">
                <div class="formControl">
                    <app-common-input [control]="'name'" [type]="'text'" [label]="'Name'" [class]="'formControl'"
                        [error]="getErrorValidator('name', 'Name')" [form]="assginmentForm"></app-common-input>
                </div>
            </div>
            <div class="formGroup fulWidth">
                <div class="dFlex gap-1 justify-content">
                    <app-common-button [width]="'180px'" (click)="AddUser(EdituserData)" [disabled]="showTimer">Create
                        Assignment</app-common-button>
                    <!-- <r-button [width]="'180px'" (onClick)=" AddUser(EdituserData)" [disabled]="showTimer"> -->
                    <!-- {{EdituserData ? 'Update User' : 'Add User'}} -->
                    <!-- </r-button> -->
                    <!-- <r-button *ngIf="EdituserData" [width]="'180px'" (onClick)=" deleteUser(EdituserData)" [disabled]="showTimer">
                            {{EdituserData.userStatus == '0' ? 'Activate User' : ' Deactivate user'}}
                        </r-button> -->
                </div>
            </div>
        </form>
    </mat-card>
</div>
