// @import '../../../../../assets/styles/media-query';
@import '../../../../../assets/scss/medis-query';

.formWrapper {
    min-height: calc(100vh - 120px);
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    z-index: 99;
    max-width: 850px;
    @include for-tablet {
        padding: 40px 0;
    }
    h2 {
        padding-top: 20px;
        padding: 14px;
        position: sticky;
        top: 0;
        z-index: 99;
        background-color: var(--primery-color);
        margin: 0;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        margin-bottom: 10px;
    }
    mat-card {
        padding: 0;
        position: relative;
        overflow: auto;
        @include for-tablet {
            width: 100%;
        }
    }
}

ng-scrollbar {
     ::ng-deep {
        .ng-scrollbar-wrapper,
        .ng-scroll-viewport-wrapper,
        .ng-scroll-layer,
        .ng-scroll-viewport {
            position: relative;
        }
        .ng-native-scrollbar-hider {
            &.ng-scroll-viewport {
                max-height: calc(72vh - 45px);
                overflow: auto;
            }
        }
    }
}

.logForm {
    min-height: auto;
    display: grid;
    grid-gap: 15px;
    padding: 10px 30px 25px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    position: relative;
    overflow: hidden;
    @include for-tablet {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        padding: 20px;
    }
    @include for-landscape-mobile {
        display: flex;
        flex-direction: column;
    }
    &:before {
        position: absolute;
        content: "";
        width: 50px;
        background-color: rgb(90, 146, 47, 0.1);
        height: 600px;
        z-index: 9;
        transform: rotate(45deg);
        bottom: -150px;
        right: 80px;
    }
    &:after {
        position: absolute;
        content: "";
        width: 2px;
        background-color: rgb(90, 146, 47, 0.2);
        height: 600px;
        z-index: 9;
        transform: rotate(45deg);
        bottom: -168px;
        right: 80px;
    }
    .formGroup {
        &.fulWidth:has(r-button) {
            grid-column: 3/-3;
        }        
        .formControl {
            margin-bottom: 0;
             ::ng-deep {
                mat-error {
                    bottom: -12px;
                }
            }
            
        }
    }
    .fiedLabel {
        line-height: 15px;
        margin-top: 5px;
    }
}

.closeIcon {
    position: absolute;
    right: 15px;
    top: 13px;
    cursor: pointer;
    mat-icon {
        color: var( --dark-green-color);
    }
}
sup {
    color: var(--danger-color);
}