<div class="userListWrapper">
  <div class="userDetails">
    <h3>Assignment List</h3>
    <app-common-button (click)="createAssignment('create')"> + Add Assignment</app-common-button>
  </div>
  <div class="userEvent">
    <app-common-users-table (viewDetail)="getAssignmentDetail($event)" (updateDetail)="updateAssignmentDetail($event)"
      [label]="'No data availble.'" (deleteUser)="openDeleteAssignmentModal($event)" [tableData]="assignmentList"
      [columnHeader]="columnHeader"></app-common-users-table>
  </div>
</div>