@import '../../../../../assets/scss/variable';
.userListWrapper{
    background-color: #f7f7f7f7;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    height: 100%;
    min-height: calc(100vh - 120px) !important;
    .userDetails{
      display: flex;
      justify-content: space-between;
      margin: 15px 0 30px;
      align-items: center;
      width: 100%;
      h3{
        margin-bottom:  0 !important;
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 28px;
        line-height: 32px;
      }
    }
    .userEvent{
      p{
        display: flex;
        span{
         padding-right: 10px;
          color: var( --primary-color);
          font-weight: 500;
          font-size: 16px;
        }
      }
      .submitWrapperList{
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
