<div class="container">
  <div class="headerUserlist">
    <h1>{{data.eventType == 'create' ? 'Add Assignment' : 'Update Assignment'}}</h1>
    <mat-icon (click)="closeDialog()">cancel</mat-icon>
  </div>

  <form >
      <app-common-input
        [control]="'title'"
        [type]="'text'"
        [label]="'Title'"
        [class]="'formControl'"
        [error]="getErrorValidator('title', 'Title')"
        [form]="addAssignmentForm">
      </app-common-input>
      <app-common-date-picker
        [label]="'Due Date'"
        [error]="getErrorValidator('dueDate', 'Due Date')"
        [control]="'dueDate'"
        [form]="addAssignmentForm"
        [minDate]="minDate"
        [appearance]="'outline'"
        >
      </app-common-date-picker>
      <app-common-select
        [label]="'Priority'"
        [control]="'priority'"
        [form]="addAssignmentForm"
        [List]="priorityList"
        [error]="getErrorValidator('priority', 'Priority')"
        (selectedId)="getPriority($event)">
      </app-common-select>
      <app-common-select
        [label]="'Assigned To'"
        [control]="'assignedTo'"
        [form]="addAssignmentForm"
        [List]="userList"
        [error]="getErrorValidator('assignedTo', 'Assigned To')"
        (selectedId)="getassigned($event)"
      ></app-common-select>
      <app-common-textarea [class]="'w-100'"
        [control]="'description'"
        [type]="'text'"
        [label]="'Description'"
        [form]="addAssignmentForm"
        [error]="getErrorValidator('description', 'Description')" >
      </app-common-textarea>
    <div class="sumbitData">
      <button type="submit" class="primaryButton" (click)="assignmentAction()">Save</button>
    </div>
  </form>
</div>
