.status {
    padding: 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    min-width: 65px;
    text-align: center;
}
.pending {
    background-color: #4abb42;
}
.inProgress {
    background-color: #e94d4d;
}
.complete {
    background-color: #fa0;
}