<div class="detailsWrapper">
    <div class="headerUserlist">
      <h1>Assignment Details</h1>
    </div>
    <div class="detailsBody">
        <div class="detailsFileds">
          <p> <span>Title:</span>{{assignmentData?.title}}</p>
          <p> <span>Due Date:</span> {{assignmentData?.dueDate}}</p>
          <p> <span>Priority:</span> {{assignmentData?.priority}}</p>
          <p> <span>Created By:</span> {{assignmentData?.createdBy}}</p>
          <p> <span>Assigned To:</span> {{assignmentData?.assignedTo}}</p>
          <p> <span>Created On:</span> {{assignmentData?.createdOn}}</p>
          <p> <span>Status:</span> {{assignmentData?.status}}</p>
        </div>
    </div>
  </div>
