<div class="headerDropdown">
    <button mat-button [matMenuTriggerFor]="menu">
      <img
        class="roundedCircle profilePic"
        src={{UserDetails.profileImage}}
      />
   {{UserDetails.name}}
      <i class="fas fa-chevron-down"></i>
    </button>
    <mat-menu #menu="matMenu">
      <ul class="listingMenus">
        <li  [routerLink]="'profile'" routerLinkActive="active">
          <a><i class="fas fa-user-cog"></i> My Profile</a>
        </li>
        <li
          routerLink="change-password"
          routerLinkActive="active"
        >
          <a><i class="fas fa-lock"></i> Change Password</a>
        </li>
        <li
          routerLinkActive="active"
          (click)="logout()"
        >
          <a><i class="fas fa-sign-out-alt" (click)="logout()"></i> Logout</a>
        </li>
      </ul>
    </mat-menu>
  </div>
