<div class="container">
  <mat-spinner *ngIf="loading"></mat-spinner>
  <h1>Sign Up</h1>
  <form [formGroup]="registrationForm">
    <app-common-input
      [control]="'email'"
      [type]="'email'"
      [label]="'Email'"
      [class]="'formControl'"
      [error]="getErrorValidator('email', 'Email')"
      [form]="registrationForm"
    ></app-common-input>
    <app-common-input
      [control]="'name'"
      [type]="'text'"
      [label]="'Name'"
      [class]="'formControl'"
      [error]="getErrorValidator('name', 'Nmail')"
      [form]="registrationForm"
    ></app-common-input>
    <app-common-select
      [label]="'Select Role'"
      [control]="'role'"
      [form]="registrationForm"
      [List]="roles"
      [error]="getErrorValidator('role', 'Role')"
      (selectedId)="getRole($event)"
    ></app-common-select>

    <app-common-input
      [control]="'password'"
      [label]="'Password'"
      [class]="'formControl'"
      [error]="getErrorValidator('password', 'Password')"
      [form]="registrationForm"
      [type]="showPassword ? 'text' : 'password'"
    ></app-common-input>
    <div class="viewMode absolute">
      <mat-icon matSuffix (click)="toggleDisplayPassword()">{{
        showPassword ? "visibility" : "visibility_off"
      }}</mat-icon>
    </div>

    <button mat-flat-button color="primary" (click)="createUser()">
      Sign Up
    </button>
  </form>
  <div class="sign-in">
    Already have an account ?
    <a [routerLink]="['/login']">Login</a>
  </div>
</div>
