@import "../../../../../assets/scss/variable";
.forgotWrapper{
    padding: 20px 0;
    overflow: hidden;
    .headerUserlist{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
        padding: 0 20px 10px;
        h1{
            margin-bottom: 0 !important;
            font-size: 18px;
            line-height: 24px;
            font-weight: 600;
        }
        .mat-icon{
            color: var(--primary-color);
        }
    }
    .formModule{
        padding: 20px 0 0;
        p{
            color: #000;
            text-align: left;
            margin-bottom: 20px;
            padding: 0 20px;
            span{
                color: var(--primary-color);
            }
        }
        form{
            ::ng-deep.forgotInput{
                padding: 0 20px 20px ;
                .mat-mdc-form-field-subscript-wrapper{
                    display: none !important;
                }
            }
            .submitModule{
                margin-top: 10px;
                display: flex;
                justify-content: flex-end;
                padding: 0 20px;
            }
        }
       
        
    }
}

