<div class="forgotWrapper">
    <div class="headerUserlist">
      <h1>Forgot Password</h1>
      <mat-icon (click)="closeDialog()">cancel</mat-icon>
    </div>
    
    <div class="formModule">
        <p><span>Note:-</span> Enter registered email.<p></p>
        <form>
            <app-common-input
            [appearance]="'fill'"
                [control]="'email'"
                [type]="'email'"
                [label]="'Email'"
                [class]="'forgotInput'"
                [error]="getErrorValidator('email', 'Email')"
                [form]="registrationForm"
            ></app-common-input>
            <div class="submitModule">
                <app-common-button (click)="forgot()">Submit</app-common-button>
            </div>
          </form>
    </div>
</div>