<div class="forgotWrapper">
    <div class="headerUserlist">
        <h1>Forgot Password</h1>
        <mat-icon (click)="closeDialog()">cancel</mat-icon>
    </div>

    <div class="formModule">
        <p><span>Note:-</span> Please enter registered email.
        <form  [formGroup]="forgotPasswordForm">
            <app-common-input 
                [appearance]="'fill'" 
                [control]="'email'" 
                [type]="'email'" 
                [label]="'Email'"
                [class]="'forgotInput'" 
                [error]="getErrorValidator('email', 'Email')"
                [form]="forgotPasswordForm">
            </app-common-input>
            <div class="submitModule">
                <app-common-button (click)="forgot()">Submit</app-common-button>
            </div>
        </form>
    </div>
</div>