/* You can add global styles to this file, and also import other style files */
@import "../src/assets/scss/sidebar";
@import "../src/assets/scss/variable";
@import "../src/assets/scss/header";
@import "~bootstrap/dist/css/bootstrap.css";
@import "../src/app/shared/components/common-users-table/common-users-table.component.scss";
@import "../src/app/shared/components/common-input/common-input.component.scss";
@import "../src/app/shared/components/common-button/common-button.component.scss";
html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
 }
// regular style toast
@import 'ngx-toastr/toastr';
.formControl{
  width:100%
}
::ng-deep .mat-app-background {
  background-color: #fff !important;
}
