<div class="container">
    <h1>Add User</h1>
    <mat-icon (click)="closeDialog()">cancel</mat-icon>
    <form [formGroup]="addUserForm">

      <div class="avatar-upload">
        <div class="avatar-edit">
          <input type='file' id="imageUpload" max-size="2000" accept=".png, .jpg, .jpeg" #fileInput (change)="uploadFile($event)" />
        </div>
        <div class="avatar-preview">
          <div id="imagePreview" [style.backgroundImage]="'url('+ imageUrl +')'">
          </div>
        </div>
      </div>

      <app-common-input
      [control]="'name'"
      [type]="'text'"
      [label]="'Name'"
      [class]="'formControl'"
      [error]="getErrorValidator('name', 'Name')"
      [form]="addUserForm"
    ></app-common-input>
      <app-common-input
        [control]="'email'"
        [type]="'email'"
        [label]="'Email'"
        [class]="'formControl'"
        [error]="getErrorValidator('email', 'Email')"
        [form]="addUserForm"
      ></app-common-input>
      <app-common-input
        [control]="'userId'"
        [type]="'text'"
        [label]="'User Id'"
        [class]="'formControl'"
        [error]="getErrorValidator('userId', 'User Id')"
        [form]="addUserForm"
      ></app-common-input>
      <app-common-input
        [control]="'phoneNumber'"
        [type]="'number'"
        [label]="'Phone Number'"
        [class]="'formControl'"
        [error]="getErrorValidator('phoneNumber', 'Phone Number')"
        [form]="addUserForm"
      ></app-common-input>
      <app-common-select
      [label]="'Select Role'"
      [control]="'role'"
      [form]="addUserForm"
      [List]="gender"
      [error]="getErrorValidator('role', 'Role')"
      (selectedId)="getGender($event)"
    ></app-common-select>
  
      <button mat-flat-button color="primary" (click)="createUser()">
        Save
      </button>
    </form>
  </div>
  
