<div class="container">
  <div class="headerUserlist">
    <h1>{{data.evetType == 'create' ? 'Add User' : 'Update user'}}</h1>
    <mat-icon (click)="closeDialog('i am in')">cancel</mat-icon>
</div>

  <form [formGroup]="addUserForm">

    <app-common-input
      [control]="'name'"
      [type]="'text'"
      [label]="'Name'"
      [class]="'formControl'"
      [error]="getErrorValidator('name', 'Name')"
      [form]="addUserForm"
    ></app-common-input>
    <app-common-input
      [control]="'email'"
      [type]="'email'"
      [label]="'Email'"
      [class]="'formControl'"
      [error]="getErrorValidator('email', 'Email')"
      [form]="addUserForm"
    ></app-common-input>

    <app-common-input
      [control]="'phoneNumber'"
      [type]="'number'"
      [label]="'Phone Number'"
      [class]="'formControl'"
      [error]="getErrorValidator('phoneNumber', 'Phone Number')"
      [form]="addUserForm"
    ></app-common-input>
    <app-common-select
      [label]="'Select Gender'"
      [control]="'gender'"
      [form]="addUserForm"
      [List]="gender"
      [error]="getErrorValidator('gender', 'Gender')"
      (selectedId)="getGender($event)"
    ></app-common-select>
    <app-common-select *ngIf="data.userRole == userRoleConfig.ADMIN"
      [label]="'Select role'"
      [control]="'role'"
      [form]="addUserForm"
      [List]="rolesArray"
      [error]="getErrorValidator('roles', 'Role')"
      (selectedId)="getRole($event)"
    ></app-common-select>

    <div class="group-gap">
      <div class="avatar-upload">
          <div class="avatar-edit">
              <input type='file' id="imageUpload" max-size="2000" #fileInput (change)="uploadFile($event)" accept=".jpg, .jpeg, .png" />
          </div>
          <button type="submit" mat-flat-button color="primary" (click)="fileInput.click()">Upload Image</button>
          <div class="imagePath">
              <h3 class="m-0"></h3>{{fileName}}
          </div>
      </div>
  </div>
  {{data | json}}
    <button mat-flat-button color="primary" (click)="clickedfn()">{{data.evetType}}</button>
  </form>
</div>
