@import '../../../../assets/scss/variable';
.userContent{
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 2px 10px 10px #0000001e;
  .mat-mdc-table{
    thead{
     .mat-mdc-header-row{
        .mat-mdc-header-cell{
          background-color: var(--primary-color) !important;
          color: #fff;
          &:first-child{
            border-radius: 5px 0 0 0;
          }
          &:last-child{
            border-radius: 0 5px  0 0;
            max-width: 150px;
          }
        }
      }
    }
    tbody{
      tr{
        td{
          &.mat-column-actions{
            .actionModule{
              display: flex;
              align-items: center;
              gap: 5px;
            }
          }
          &:last-child{
            max-width: 150px;
          }
        }
      }
    }
  }

}
.noData{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: calc(100vh - 300px) !important;
  .noUserfound{
    background-color: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 20px;
    min-height: 100px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    P{
      font-size: 22px;
      line-height: 24px;
      letter-spacing: 1px;
      font-weight: 600;
      margin-bottom: 0 !important;
    }
  }
}
